html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  line-height: 1.6;
  background: radial-gradient(circle at 18.7% 37.8% , rgb(255, 255, 255) 0%, rgb(238,246,255) 90%);
  background: linear-gradient(96.2deg, rgb(23,39,59) 10.4%, rgb(17,25,38) 43.8%, rgb(34,33,49) 105.8%);
  color: rgb(244, 244, 244);
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }

  body {
    color: white;
    background: black;
  }
}