
.code {
  padding: 0.15rem;
  font-size: 0.9rem;
  background-color: transparent;
  color: white;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
}

.introduce {
  padding: 0.15rem;
  font-size: 0.8rem;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
  text-align: center;
  color: darkgrey;
}

.iconround {
  margin: 1rem;
  padding: 1rem;
  text-align: left;
  color: white;
  text-decoration: none;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
  transition: all .2s ease-in-out;
  background-color: #162B45;
}

.introduce2 {
  padding: 0.15rem;
  font-size: 0.8rem;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
  text-align: justify;
  color: darkgrey;
}

.profile {
  width: 10rem;
  height: 10rem;
  border-radius: 50%;
  object-fit: cover;
  margin: 1rem;
  -webkit-filter: grayscale(100%);
  /* Safari 6.0 - 9.0 */
  filter: grayscale(30%);
}


.btn {
  padding: 1rem;
  text-align: left;
  color: white;
  text-decoration: none;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
  transition: all .2s ease-in-out;
  background-color: #162B45;
}

.btn:hover,
.btn:focus,
.btn:active {
  border-color: #1B1A1A;
  padding: 1rem;
  text-align: left;
  color: #1B1A1A;
  text-decoration: none;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
  max-width: 300px;
  transform: scale(1.1);
  background-color: #ffffff;
}

.icon {
  transition: color 0.15s ease, border-color 0.15s ease;
  transition: all .2s ease-in-out;
}

.icon:hover,
.icon:focus,
.icon:active {
  transition: color 0.15s ease, border-color 0.15s ease;
  transform: scale(1.2);
}
.btn2 {
  padding: .5rem;
  font-size: 0.8rem;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
  text-align: left;
  color: white;
  text-decoration: none;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
  transition: all .2s ease-in-out;
  background-color: #162B45;
}

.btn2:hover,
.btn2:focus,
.btn2:active {
  padding: .5rem;
  font-size: 0.8rem;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
  text-align: left;
  color: #fff;
  text-decoration: none;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
  transition: all .2s ease-in-out;
  background-color: #4F3154;
}

@media (max-width: 374px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }

  .title {
    margin: 0;
    line-height: 1.15;
    font-size: 2rem;
  }

  .card {
    max-width: 200px;
  }

  .main {
    min-height: 100vh;
    padding: 5rem 2rem;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .profile {
    width: 7rem;
    height: 7rem;
    border-radius: 50%;
    object-fit: cover;
    margin: 1rem;
    -webkit-filter: grayscale(100%);
    filter: grayscale(30%);
  }

  .description {
    margin: 0rem 0rem 2rem 0rem;
    line-height: 1.5;
    font-size: 1.5rem;
    width: 100%;
  }
}

@media (min-width: 375px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }

  .title {
    margin: 0;
    line-height: 1.15;
    font-size: 2rem;
  }

  .card {
    max-width: 200px;
  }

  .main {
    min-height: 100vh;
    padding: 5rem 2rem;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .profile {
    width: 7rem;
    height: 7rem;
    border-radius: 50%;
    object-fit: cover;
    margin: 1rem;
    -webkit-filter: grayscale(100%);
    filter: grayscale(30%);
  }

  .description {
    margin: 0rem 0rem 2rem 0rem;
    line-height: 1.5;
    font-size: 1.5rem;
    width: 100%;
  }
}

@media (min-width: 768px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }

  .title {
    margin: 0;
    line-height: 1.15;
    font-size: 2rem;
  }

  .card {
    max-width: 200px;
  }

  .main {
    min-height: 100vh;
    padding: 5rem 2rem;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .profile {
    width: 7rem;
    height: 7rem;
    border-radius: 50%;
    object-fit: cover;
    margin: 1rem;
    -webkit-filter: grayscale(100%);
    filter: grayscale(30%);
  }

  .description {
    margin: 0rem 0rem 2rem 0rem;
    line-height: 1.5;
    font-size: 1.5rem;
    width: 100%;
  }
}

@media (min-width: 1024px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }

  .main {
    min-height: 100vh;
    padding: 5rem 2rem;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .profile {
    width: 7rem;
    height: 7rem;
    border-radius: 50%;
    object-fit: cover;
    margin: 1rem;
    -webkit-filter: grayscale(100%);
    filter: grayscale(30%);
  }

  .description {
    margin: 0rem 0rem 2rem 0rem;
    line-height: 1.5;
    font-size: 1.5rem;
    width: 100%;
  }
}